@import '../variables';
@import '../_mixins';

.accordion-head {
    background-color: transparent;
    color: $darkgrey;
    padding: 4px;

}

.active-accordion,
.accordion-head:hover {
    background-color: inherit;
}

.panel-accordion {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        color: $darkgrey;
    }

}
.Collapsible {
    &__trigger {
        &.is-closed {
            //color: red;
            ~.Collapsible__contentOuter {
                padding: 0;
            }           
        }
    }
}