@import '../mixins';

.categories {

    &__item {
        
        margin-left: 7px;
        margin-right: 7px;
        @include border;
        background-color: $lightest;
        margin-bottom: 7px;

        a {
            margin-top: 7px;
            color: $dark;
            font-size: 1.2em;
            display: block;

            text-align: center;
        }
    }

}