@import '../../mixins';

.navbar {

    @media(min-width:767px) {
        &-nav {
            margin-top: 15px;

        }

        &.bg-primary {
            background-color: transparent !important;
        }
    }

    .nav-item {
        @media(max-width:767px) {
            margin: auto 6px;
        }

        .menu_icon {
            width: 64px;
            height: 64px;
            line-height: 64px;
            text-align: center;
            @include full-circle;
            &.basket {
                background-color: $green;
            }

            &.percent {
                background-color: $red;
            }

            &.basket-2 {
                background-color: $green;
            }

            &.star {
                background-color: $gold;
            }

            &.click {
                background-color: $brown;
            }

            &.user {
                background-color: $lightest;
                border: 2px solid $dark;

                svg {
                    fill: $dark !important;
                }
            }
        }

        a.nav-link {
            color: $lightest;
            text-align: center;

            &.active {
                color: $lightest;

                &.home {
                    color: blue !important;
                }              
            }

            svg {
                @include svg-dim;
                fill: $lightest;

            }
            @media(min-width: 768px) {
                span {
                    display: none;
                }
            }
        }
    }
}