@import './variables';

@mixin border {
    border: 1px solid $lightgrey;
}

@mixin full-circle {
    border-radius: 50%;
}

@mixin border-rad($rayon) {
    border-radius: $rayon !important;
}

.rotate__45 {
    transform: rotate(45deg);
    width: 4em;
    height: 4em;

    div {
        transform: rotate(-45deg)
    }
}

.is__pointer {
    cursor: pointer;
}

@mixin padding_1 {
    padding: $grid-gutter-width;
}

@mixin padding_2 {
    padding: $grid-gutter-width*1.5;
}

@mixin borderb($type, $color, $widdth) {
    border-bottom: $widdth $type $color;
}

$my_width: percentage(100/5);

@mixin svg-dim {
    width: 48px;
    height: 48px;
    padding:8px;

}

