@import './variables';

@mixin border {
    border: 1px solid $lightgrey;
}

@mixin full-circle {
    border-radius: 50%;
}

@mixin border-rad($rayon) {
    border-radius: $rayon !important;
}

.rotate__45 {
    transform:rotate(45deg);
    width: 4em;
    height: 4em;
    div {
        transform: rotate(-45deg)
    }
}