$custom1: #eee6dd;
$lightgrey: #EAEDED;
$lightest: #fff;
$red: #DA291C;
$green: #8CAA0A;
$cagn: #FF8526;
$gold: #FAAE31;
$brown: #613731;
$darkgrey: #c1c1c1;
$dark: rgb(12, 12, 12);
$grid-gutter-width: 8px;


.lh-07 {
    line-height:0.7
}
.lh-08 {
    line-height:0.8
}
.lh-09 {
    line-height:0.9
}

.lh-1 {
    line-height: 1;
}
.lh-11 {
    line-height: 1.1;
}
.lh-12 {
    line-height: 1.2;
}

$vallMin: 1;
$valMax: 3;
$line-height:1;

@for $i from 10 through 12 {    
    .lh-#{$i}{
        line-height: $line-height + 0.1;
    }
}
