$custom1: #eee6dd;
$lightgrey: #EAEDED;
$lightest: #fff;
$red: #DA291C;
$green: #8CAA0A;
$cagn: #FF8526;
$gold: #FAAE31;
$brown: #613731;
$darkgrey: #c1c1c1;
$dark: rgb(12, 12, 12);
$grid-gutter-width: 8px;
