@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './_fonts';
@import './_variables';
@import './_mixins';

body {
    font-family: 'Cambay', sans-serif;
    font-size: 13px;

}
div.row {
    position: relative;
}
@media (min-width: 1200px) {
    .container {
      max-width: 1200px ;
     width: 100%;
    }
  }

.toparea {
    background-color: $custom1;
}
h1 {
    font-size: 1.4em;
}

#root {
    background-color: $lightgrey;
    .extras {background-color: $lightest;}
    .app {
        background-color: $lightest;
    }
}